.nav-logo img {
  width: 60px;
  padding: 0px 600px;
}
nav {
  background-color: rgb(244, 241, 237);
  align-items: center;
  height: 100px;
  width: fit-content;
  padding: 30px;
}
nav ul {
  display: flex;
  padding: 10px;
  list-style: none;
}
nav ul li {
  align-items: center;
  flex-direction: row;
  padding: 0px 20px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-size: large;
}
nav ul li a {
  color: rgb(99, 72, 38);
  text-decoration: none;
  padding: 8px 10px;
}

nav ul li:hover {
  background-color: rgb(210, 166, 113);
  padding: 5px 30px;
  border-radius: 10px;
}
